<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://infra.hibernate.org/tmp/dtd-http-redirect/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>

        <property name="hbm2ddl.auto">update</property>

        <property name="connection.pool_size">5</property>

        <property name="show_sql">false</property>
        <property name="format_sql">true</property>

        <property name="max_fetch_depth">5</property>

        <!-- NOTE: hibernate.jdbc.batch_versioned_data should be set to false when testing with Oracle -->
        <property name="jdbc.batch_versioned_data">true</property>

        <property name="javax.persistence.validation.mode">NONE</property>
        <property name="service.allow_crawling">false</property>
        <property name="session.events.log">true</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
    </session-factory>

</hibernate-configuration>